name: Dependency Submission

on:
  push:
    branches: [ 'main' ]

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
    
    - name: Setup JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: '17'

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v5
