name: 'Publish to GitHub Package Registry'

on:
  push:
    tags:
      - '*'

jobs:
  publishToGithubPackages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-caches-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}

      - name: Publish to Github Package Registry
        run: ./gradlew publishAllPublicationsToGitHubPackagesRepository -PgithubPackages.user=$GITHUB_ACTOR -PgithubPackages.key=${{ secrets.GITHUB_TOKEN }}
