name: 'Test Plugin'

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  checks: write

jobs:
  localPluginTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-caches-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties', 'gradle/libs.versions.tml') }}

      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Run 'normal' tests
        run: ./gradlew test --tests 'SentryProguardGradlePluginTest'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          check_name: 'Unit Test Reports'

  publishingConsumingPluginTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-caches-v0-${{ hashFiles('build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties', 'gradle/libs.versions.tml') }}

      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Publish Plugin to mavenLocal
        run: ./gradlew publishToMavenLocal

      - name: Run publishing/consuming tests
        run: ./gradlew test --tests 'SentryProguardGradlePluginPublishingTest'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          check_name: 'Publishing Test Reports'
